#mapid { width:1000px; height:500px; }
#mapLinkButton { float:right; width:200px; height:50px;}
#mapLinkArea {width:1000px; height:50px;}
#mapLink {float:left; width:800px; height:50px;}
#map {float:left; width:1000px; height:550px;}
#options {float:left; width:274px; height:671px; background-color: grey;}
#legend {float:left; width:1000px; height:120px; background-color: beige;}

#marker-context-menu {
    position:fixed;
    z-index:10000;
    width:150px;
    background:#1b1a1a;
    transform:scale(0);
    transform-origin:top left;
}

#map-context-menu {
    position:fixed;
    z-index:10000;
    width:150px;
    background:#1b1a1a;
    transform:scale(0);
    transform-origin:top left;
}

#map-context-menu.active {
    transform:scale(1);
    transition:transform 200ms ease-in-out;
}

#marker-context-menu.active {
    transform:scale(1);
    transition:transform 200ms ease-in-out;
}

#map-context-menu .item {
    padding:8px 10px;
    font-size:15px;
    color:#eee;
}

#marker-context-menu .item {
    padding:8px 10px;
    font-size:15px;
    color:#eee;
}

#map-context-menu .item:hover {
    background:#555;
}

#marker-context-menu .item:hover {
    background:#555;
}

#map-context-menu .item i {
    display:inline-block;
    margin-right:5px;
}

#marker-context-menu .item i {
    display:inline-block;
    margin-right:5px;
}

#map-context-menu hr {
    margin:2px 0px;
    border-color:#555;
}

#marker-context-menu hr {
    margin:2px 0px;
    border-color:#555;
}

#markers {
    width:100px;
    height:100px;
}